<div class="posts all-posts">
  {{#each posts}}
    <a class="list-item row space" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>